# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore translated tests
generated

# Ignore jars
jars/

# Ignore log files
antlr*log

# Ignore gradle-dependencies
gradle-dependencies
/bin/

#ignore generated directory
tmpCRML/
